body {
	/*background: #10D14A;*/
	background-color: #f1f1f1;
}
/*Button designs*/




table { 
	border-collapse: separate; 
	background-color: #FFFFFF; 
	border-spacing: 0;
	width: 100%;
	color: #666666;
	text-shadow: 0 1px 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: 0; 
	margin: 0 auto;
	font-family: arial; }
table thead tr th { 
	background: none repeat scroll 0 0 #EEEEEE;
	color: #222222; 
	padding: 10px 14px;
	text-align: left; 
	border-top: 0 none; 
	font-size: 12px; }
table tbody tr td{
    background-color: #FFFFFF;
	font-size: 12px;
    text-align: left;
	padding: 10px 14px;
	border-top: 1px solid #DDDDDD;}
#log {
	width: 85%;
	text-align: right;
	margin: 20px auto;
	font-family: arial;
}
#log a {
	/*color: #FFFFFF;
	text-decoration: none;
	font-family: arial;*/
}

#filter {
    background: url("img/big_search.png") no-repeat scroll 10px 10px #FFFFFF;
    box-shadow: none;
    display: block;
    font-size: 12px;
    height: 34px;
    padding: 9px 140px 9px 28px;display: block;
    font-size: 12px;
    padding: 9px 140px 9px 28px;
    width: 85%;
	border: 1px solid #DADADA;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	padding-top: 6px;
	float: left;
	overflow: auto;
}
a#add {
   /* float: right;
    width: 2em;
    height: 10px;
    padding: 9px 28px;
    margin-top: -65px; */
}
img{
	display: flex;
	justify-content: left;
}
.addButton{
	float: left;
}